.row{
    position: absolute;
    left: 30%;
    top:-30px;
}

.btn-group .col .mt-2 .mb-2{
    width: 490px;
    background-color: darkviolet;
}
.z{
    margin-top:100px;
    background-color:black;
}
.exit{
    width:100px;
    margin-left:74%;
    border-radius:20px ;
    margin-top: 20px;
    text-decoration-color: Black;
}
.page1{
    z-index:100000;
}
.imga{
    margin-left:16%;
    height:100%;
    margin-top:-170px;
    z-index:-10000;
}
.chess{
  shadow:100px 100px;
  width:300px;
  color:black;
  inline:black;
}
